.d-md-flex.flex-wrap.justify-content-between
    .category.category-one.d-flex.flex-column.justify-content-center.mb-4.p-4.rounded
        h6 Descuentos en
        h2 Los Mejores Whiskies 
        p ¡Brinda con sabor y estilo!
        button.btn.btn-primary.w-fit Comprar
    .category.category-two.d-flex.flex-column.justify-content-center.justify-content-md-start.align-items-md-center.text-md-center.mb-4.p-4.rounded
        h6 Descuentos en
        h2 Productos de Limpieza
        p ¡Limpieza impecable!
        button.btn.btn-primary.w-fit Comprar       
    .category.category-three.d-flex.flex-column.justify-content-center.mb-4.p-4.rounded
        h6 Descuentos en
        h2 Frutas y Verduras 
        p ¡Sabor y frescura!
        button.btn.btn-primary.w-fit Comprar