.container.py-5
    .row.gy-4
        .col-lg-3.col-md-12
            h5 Sobre Nosotros
            p Minimarket moderno con productos esenciales, precios accesibles, atención rápida y ambiente amigable para compras diarias.
            .d-flex.gap-3
                a.text-dark(href="#") 
                    i.fab.fa-facebook-f
                a.text-dark(href="#") 
                    i.fab.fa-twitter
                a.text-dark(href="#") 
                    i.fab.fa-instagram

        .col-lg-3.col-md-12
            h5 Ayuda
            ul.list-unstyled
                li 
                    a(href="#") Preguntas Frecuentes
                li 
                    a(href="#") Envíos y Devoluciones
                li 
                    a(href="#") Formas de Pago

        .col-lg-3.col-md-12
            h5 Legales
            ul.list-unstyled
                li 
                    a(href="#") Términos y Condiciones
                li 
                    a(href="#") Políticas de Privacidad
                li 
                    a(href="#") Libro de Reclamaciones

        .col-lg-3.col-md-12
            h5 Contáctanos
            p 
                i.fa-solid.fa-location-dot.me-2
                | Dirección: Calle Falsa 123
            p 
                i.fa-solid.fa-phone.me-2
                | Teléfono: +123 456 789
            p 
                i.fa-solid.fa-envelope.me-2
                |Email: contacto@donpedro.com

// Footer Bar
.footer-bar.bg-dark.text-light.py-3.mt-4
    .container.d-flex.justify-content-between.align-items-center
        p.mb-0 
            small &copy; 2025 Don Pedro - Todos los derechos reservados.
        .payment-methods
            img.ms-1(src="img/yape.png" alt="PayPal" height="30")
            img.ms-1(src="img/plin.png" alt="PayPal" height="30")
            img.ms-1(src="img/paypal.png" alt="PayPal" height="30")
            img.ms-1(src="img/visa.png" alt="Visa" height="30")
            img.ms-1(src="img/mastercard.png" alt="Mastercard" height="30")
            
