h5.text-center.text-primary Información
h2.text-center.mb-5 Nuestro Servicio 

.row.justify-content-center.gy-4
    .col-lg-3.col-md-6.col-12.d-flex.justify-content-center
        .d-flex.align-items-center.py-3
            i.fa-solid.fa-motorcycle.fa-3x.text-primary.me-3
            .service-text
                h6 Entrega Local
                p.text-gray En donde estés.

    .col-lg-3.col-md-6.col-12.d-flex.justify-content-center
        .d-flex.align-items-center.py-3
            i.fa-solid.fa-shop.fa-3x.text-primary.me-3
            .service-text
                h6 Retiro en Tienda
                p.text-gray Ahorra el envío.

    .col-lg-3.col-md-6.col-12.d-flex.justify-content-center
        .d-flex.align-items-center.py-3
            i.fa-solid.fa-credit-card.fa-3x.text-primary.me-3
            .service-text
                h6 Métodos de Pago
                p.text-gray Rápido y seguro.

    .col-lg-3.col-md-6.col-12.d-flex.justify-content-center
        .d-flex.align-items-center.py-3
            i.fa-solid.fa-headset.fa-3x.text-primary.me-3
            .service-text
                h6 Atención 24/7
                p.text-gray A tu disposición.
