.invite-container
    .invite-content.d-flex.align-items-center.w-100.h-100.text-white
        .container
            h5.mb-3 ¡Qué Esperas!
            h1.mb-3 Tenemos las Mejores Ofertas
            p Ven a nuestras tiendas o has un pedido