.position-fixed.vh-100.p-5.bg-dark.text-white
    img.mb-5(src="img/logo-white.png", alt="", height="50")
    h6 MENU 
    hr
    p.mb-4 
        i.fa-solid.fa-house.fa-lg.me-2
        | Inicio 
    p.mb-4 
        i.fa-solid.fa-clipboard-list.fa-lg.me-2
        | Inventario 
    p.mb-4 
        i.fa-solid.fa-box.fa-lg.me-2
        | Pedidos 
    p.mb-4
        i.fa-solid.fa-chart-line.fa-lg.me-2
        | Reportes 
    p.mb-4
        i.fa-solid.fa-gear.fa-lg.me-2
        | Configuración 