.parallax-container
    .parallax-content.d-flex.align-items-center.w-100.h-100.text-white
        .container
            h5.mb-2 Realiza tus Compras
            h1.mb-4 Con tan Solo un Click
            p Y lo dejamos en la puerta de tu casa
            button.btn.btn-light.p-3 Comprar
