.philosophy-container
    .philosophy-content.d-flex.align-items-center.w-100.h-100.text-white
        .container 
            .d-flex.flex-column.flex-md-row
                .mission.text-center.p-5.border-md-end.border-bottom.border-bottom-md-none
                    h5.mb-2 ¿Qué Hacemos?
                    h1.mb-4 Misión
                    p Ofrecer productos de calidad a precios accesibles, brindando una atención cercana y confiable que mejore la experiencia de compra diaria de nuestros clientes.
                .vision.text-center.p-5
                    h5.mb-2 ¿A Dónde Vamos?
                    h1.mb-4 Visión
                    p Ser la cadena de minimarkets preferida por su calidad, servicio y compromiso con la comunidad, expandiéndonos para llegar a más zonas de Lima.