#carousel.carousel.slide
    .carousel-inner.h-100
        
        .carousel-item.h-100.active
            .carousel-content.d-flex.align-items-center.text-center.w-100.h-100
                .container
                    h1.mb-4 Encuentra Calidad y Precios Irresistibles
                    p.d-none.d-md-block Desde frutas frescas hasta tus snacks favoritos, tenemos todo lo que necesitas para llenar tu hogar de sabor y alegría. ¡Descubre nuestras ofertas hoy mismo!
                    button.btn.btn-primary.p-3 Ver productos
            img.d-block.w-100.h-100(src="img/slider_1.jpg" alt="Slide 1")
        
        .carousel-item.h-100
            .carousel-content.d-flex.align-items-center.text-center.w-100.h-100
                .container
                    h1.mb-4 Ofertas Exclusivas por Tiempo Limitado
                    p.d-none.d-md-block No te pierdas nuestras promociones especiales con descuentos increíbles en una selección de productos. ¡Aprovecha antes de que terminen!
                    button.btn.btn-primary.p-3 Ver productos
            img.d-block.w-100.h-100(src="img/slider_2.jpg" alt="Slide 2")
        
        .carousel-item.h-100
            .carousel-content.d-flex.align-items-center.text-center.w-100.h-100
                .container
                    h1.mb-4 Descubre Nuestras Nuevas Colecciones
                    p.d-none.d-md-block Renueva tu estilo con lo último en tendencias. Productos diseñados con calidad y elegancia para cada ocasión.
                    button.btn.btn-primary.p-3 Ver productos
            img.d-block.w-100.h-100(src="img/slider_3.jpg" alt="Slide 3")

    button.carousel-control-prev(type="button" data-bs-target="#carousel" data-bs-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.visually-hidden Previous

    button.carousel-control-next(type="button" data-bs-target="#carousel" data-bs-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.visually-hidden Next
