.welcome-container
    .welcome-content.d-flex.justify-content-center.align-items-center.w-100.h-100.text-white.text-center
        .container
            h1.mb-3 ¡Bienvenidos! Somos Tiendas Don Pedro
            p.mb-3 Somos una cadena de tiendas con 10 años de experiencia en el Perú, ubicados en la provincia de lima, dedicados a satisfacer las necesidades  diarias de nuestros clientes con pasión y excelente servicio

.welcome__info.bg-white.shadow.rounded.d-none.d-lg-flex.justify-content-around
    .d-flex.align-items-center.py-3
        i.fa-solid.fa-motorcycle.fa-3x.text-primary.me-3
        .service-text
            h6 Entrega Local
            p.text-gray En donde estés.


    .d-flex.align-items-center.py-3
        i.fa-solid.fa-shop.fa-3x.text-primary.me-3
        .service-text
            h6 Retiro en Tienda
            p.text-gray Ahorra el envío.


    .d-flex.align-items-center.py-3
        i.fa-solid.fa-credit-card.fa-3x.text-primary.me-3
        .service-text
            h6 Métodos de Pago
            p.text-gray Rápido y seguro.


    .d-flex.align-items-center.py-3
        i.fa-solid.fa-headset.fa-3x.text-primary.me-3
        .service-text
            h6 Atención 24/7
            p.text-gray A tu disposición.  