doctype html
html(lang="en")
    head
        include components/_head

    body 
        header.shadow-sm
            include components/_header

        main
            .container 
                section
                    include components/_shops

            section(style="margin-bottom: 0;")
                include components/_form

        footer.bg-light-gray.pt-5 
            include components/_footer

        script(src="https://kit.fontawesome.com/1822c1a120.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js") 
        script(src="js/main.js") 